[submodule "bundle/command-t"]
	path = bundle/command-t
	url = git://github.com/wincent/Command-T.git
[submodule "bundle/pydoc"]
	path = bundle/pydoc
	url = git://github.com/fs111/pydoc.vim.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = git://github.com/ervandew/supertab.git
[submodule "bundle/pyflakes"]
	path = bundle/pyflakes
	url = git://github.com/matthew-brett/pyflakes-vim.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/chapa"]
	path = bundle/chapa
	url = git://github.com/alfredodeza/chapa.vim.git
[submodule "bundle/vim-rst-sections"]
	path = bundle/vim-rst-sections
	url = https://github.com/matthew-brett/vim-rst-sections.git
